.button {
  background: none;
  padding: .8em 2em;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  color: white;

  &-default {
    background: black;
  }

  &-orange {
    background: #d97c69;
  }
}