.present {
  display: grid;
  grid-template-columns: repeat(6, minmax(110px, auto));
  grid-template-rows: repeat(2, 115px);
  grid-gap: 1.225em;

  grid-template-areas:
    "box-1 box-1 box-2 box-3 box-4 box-4"
    "box-1 box-1 box-5 box-5 box-6 box-6";

  &-box {
    color: #fff;
    background: darken(#eee, 50%);
    border-radius: .45em;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    padding: 1em;


    @for $box from 1 through 6 {
      &:nth-child(#{$box}) {
        grid-area: box-#{$box};
      }
    }
  }

}